body{
    background-color: #393e46;
}

h1{
    font-size:5rem;
    text-align:center;
    color:#4ecca4;
    font-family:'Lobster', cursive;
}

#player1>p{
    text-align:center;
    color:#4ecca4;
    font-size:2rem;
    font-family: 'Indie Flower' , cursive;
}
#player2>p{
    text-align:center;
    color:#4ecca4;
    font-size:2rem;
    font-family: 'Indie Flower' , cursive;
}
#container{
    display:flex;
    align-items:center ;
    justify-content: center;
}
.img1,.img2{
    width:80%;
}
footer{
    text-align:center;
    color:#eeeeee;
    font-family: "Indie Flower" , cursive;
    margin-top:5%;
}